<div class="wrapper">
  <mat-card class="mat-elevation-z24">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Spotifier</mat-card-title>
      <mat-card-subtitle>Spotify API program</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div
        (click)="handleClick()"
        matRipple
        class="status-wrapper mat-display-1"
        [ngClass]="{
          login: status === Status.LOGIN,
          pending: status === Status.PENDING,
          success: status === Status.SUCCESS,
          failure: status === Status.FAILURE
        }">
        {{ status }}
      </div>
      <div class="details-wrapper">
        <p>{{ messageByStatus[status] }}</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
