<div class="wrapper">
  <mat-card class="mat-elevation-z24">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Spotifier</mat-card-title>
      <mat-card-subtitle>Spotify API program</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div
        matRipple
        class="status-wrapper mat-display-1"
        [ngClass]="{
          pending: status === Status.PENDING,
          success: status === Status.SUCCESS,
          failure: status === Status.FAILURE
        }"
      >
        {{ status }}
      </div>
      <div class="details-wrapper">
        <p>{{ details }}</p>
      </div>
      <button (click)="redirect()" *ngIf="status === Status.FAILURE" mat-button>
        Try again
      </button>
      <mat-progress-bar
        *ngIf="status === Status.PENDING"
        mode="indeterminate"
      ></mat-progress-bar>
    </mat-card-content>
  </mat-card>
</div>
